<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <%-include('../partial/head')%>>
</head>

<body >

<!-- Start Header Area -->
<%-include('../partial/topHeader')%>>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Create Accountr</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/CreateAccountr</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Create Accountr</h3>
                    <form class="row login_form"  method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="username" placeholder="Username" >
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="email" >
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone" >
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="Address" name="address" placeholder="Address" >
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<!-- start footer Area -->
<%-include('../partial/endHeader')%>>
<!-- End footer Area -->


<%-include('../partial/javacript')%>>

</body>

</html>